<a href="https://www.gamedevfarsi.com"><img height="32px" src="{{ "logo.png" | relURL }}" style="vertical-align: middle;" /></a>
<span style="font-size: medium;vertical-align: middle;">&nbsp; | &nbsp;</span>
<a target="_blank" href="https://youtube.com/@gamedevfarsi"><img class="icon" src="{{ "icons/YouTube.svg" | relURL }}" alt="YouTube"></a>
<a target="_blank" href="https://aparat.com/gamedevfarsi"><img class="icon" src="{{ "icons/Aparat.svg" | relURL }}" alt="Aparat"></a>
<a target="_blank" href="https://bsky.app/profile/gamedevfarsi.bsky.social"><img class="icon" src="{{ "icons/Bluesky.svg" | relURL }}" alt="Bluesky"></a>
<a target="_blank" href="https://x.com/gamedevfarsi"><img class="icon" src="{{ "icons/X.svg" | relURL }}" alt="X"></a>
<a target="_blank" href="https://instagram.com/gamedevfarsi"><img class="icon" src="{{ "icons/Instagram.svg" | relURL }}" alt="Instagram"></a>
<a target="_blank" href="https://gamedevfarsi.itch.io"><img class="icon" src="{{ "icons/Itch.svg" | relURL }}" alt="Itch"></a>
<a target="_blank" href="https://linkedin.com/company/gamedevfarsi"><img class="icon" src="{{ "icons/Linkedin.svg" | relURL }}" alt="Linkedin"></a>
<a target="_blank" href="https://mastodon.social/@gamedevfarsi"><img class="icon" src="{{ "icons/Mastodon.svg" | relURL }}" alt="Mastodon"></a>
<a target="_blank" href="https://discord.gg/FufzGb3E"><img class="icon" src="{{ "icons/Discord.svg" | relURL }}" alt="Discord"></a>
<a target="_blank" href="https://www.facebook.com/gamedevfarsi"><img class="icon" src="{{ "icons/Facebook.svg" | relURL }}" alt="Facebook"></a>
<a target="_blank" href="https://github.com/gamedev-farsi"><img class="icon" src="{{ "icons/GitHub.svg" | relURL }}" alt="GitHub"></a>
<a target="_blank" href="https://gravatar.com/gamedevfarsi"><img class="icon" src="{{ "icons/Gravatar.svg" | relURL }}" alt="Gravatar"></a>
<a target="_blank" href="https://soundcloud.com/gamedevfarsi"><img class="icon" src="{{ "icons/SoundCloud.svg" | relURL }}" alt="SoundCloud"></a>
<a target="_blank" href="https://t.me/gdfaguru"><img class="icon" src="{{ "icons/Telegram.svg" | relURL }}" alt="Telegram"></a>
<a target="_blank" href="https://t.me/gamedevfarsi"><img class="icon" src="{{ "icons/Telegram.svg" | relURL }}" alt="Telegram"></a>
<a target="_blank" href="https://threads.net/@gamedevfarsi"><img class="icon" src="{{ "icons/Threads.svg" | relURL }}" alt="Threads"></a>
<a target="_blank" href="https://tiktok.com/gamedevfarsi"><img class="icon" src="{{ "icons/TikTok.svg" | relURL }}" alt="TikTok"></a>